{% set imageAlias = ez_image_alias( content.getField("image"), content.versionInfo, objectParameters.size ) %}

{% set is_full = objectParameters.size == 'original' %}

{% if is_full %}
<div class="full-image-embed">
    {% endif %}

    {% if imageAlias.uri | default %}
        <img src="/{{ imageAlias.uri }}" />
    {% endif %}

    {% if is_full %}
</div>
{% endif %}
