{% extends "NMWebsiteBundle::pagelayout.html.twig" %}

{# THIS FILE SHOULD BE OVERRIDDEN TO EXTEND YOU OWN PAGELAYOUT #}

{# module_result variable is received from the legacy controller. #}
{% block content %}{{ module_result.content|raw }}{% endblock %}
