<!doctype html>
<html class="no-js" lang="en">
<head>
    {% block page_head %}

        {% block head_title %}
            {% set currentLocationId = false %}
            {% if location is defined %}
                {% set currentLocation = location %}
            {% endif %}
            <title>
                {% if currentLocation is defined %}
                    {{ currentLocation.contentInfo.name }} |
                {% endif %}
                {{ ezpublish.rootLocation.contentInfo.name }}
            </title>
        {% endblock %}

        {% block page_head_style %}{% endblock %}

        {% block page_head_script %}
            {{ include( "NMWebsiteBundle:parts:headerscripts.html.twig") }}
        {% endblock %}

        {% block page_favicons %}{% endblock %}

        {% block head_meta %}{% endblock %}

    {% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}">
    {% block body %}

        {% block header %}
            {% block topMenu %}{% endblock %}
        {% endblock %}

        {% if pageData is defined and pageData.showPath %}
            {% block path %}

            {% endblock %}
        {% endif %}

        {% block breadcrumb %}
            {% if currentLocation is defined %}

            {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block footerScript %}{% endblock %}

    {% endblock %}
</body>
</html>
