{% extends "NMWebsiteBundle::pagelayout.html.twig" %}

{% block content %}
    <div class="content-intro">
        <div class="row">
            <div class="medium-12 columns">
                <div class="list-intro">
                    <h2 class="centered underline">{{ ez_content_name( content ) }}</h2>
                    {% if not ez_is_field_empty(content, 'short_description') %}
                        {{ ez_render_field(content, 'short_description') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="row">
            <div class="small-12 columns">
                <ul class="small-block-grid-1 medium-block-grid-1">
                    {% if children is defined and children|length > 0 %}
                        {% for child in children %}
                            {{ render_esi( controller( "ez_content:viewLocation", {
                                "locationId": child.id,
                                "viewType": "line"
                            } ) ) }}
                        {% endfor %}
                    {% endif %}
                </ul>


                {% if children is defined and children.haveToPaginate() %}
                    {{ pagerfanta( children ) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
