{% for child in children.locations %}

    {% if not child.hidden and not child.invisible %}
        {{ render_esi( controller( "ez_content:viewLocation", {"locationId": child.id, "viewType": "frontpage"} ) ) }}
        {#{ render_esi( controller(
            "NMWebsiteBundle:Location:render", {
                "locationId": child.id,
                "viewType": "frontpage",
                "params": {
                    'skip_relation_attributes': true
                }
            }
        ) ) }#}
    {% endif %}
{% endfor %}
