{% extends noLayout ? viewbaseLayout : "NMNorskBergindustriBundle::pagelayout.html.twig" %}

{% block content_header %}

{% endblock %}

{% block content %}
    {{ render_esi( controller( "ez_content:viewLocation", {"locationId": frontpage.id, "viewType": "full"} ) ) }}
{% endblock %}
