{% if mainmenu is defined %}
    <nav id="primary">
        <ul>
            {% for menuitem in mainmenu %}

                {% if menuitem.submenu is iterable %}
                    {% set link = "javascript:void(0)" %}
                {% else %}
                    {% set link = path( "ez_urlalias", {"locationId": menuitem.location.id} ) %}
                {% endif %}

                <li class="{% if currentLocationId == menuitem.location.id %}active_onload{% endif %}{% if not menuitem.submenu %}nosub{% endif %}">
                    <a class="{% if menuitem.submenu is iterable %}iteratable{% endif %}" href="{{ link }}">{{ menuitem.location.contentInfo.name }}</a>
                    {% if menuitem.submenu is iterable %}
                        <ul class="dropdown">
                            {% for subitem in menuitem.submenu %}
                                <li class="{% if currentLocationId == subitem.id %}active_onload{% endif %}"><a href="{{ path( "ez_urlalias", {"locationId": subitem.id} ) }}">{{ subitem.contentInfo.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
